.hero-title {
    font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
    font-weight: 700;
    line-height: 1.3;
}

.header-logo img {
    width: 160px !important;
}

.hero-text {
    font-size: clamp(1rem, 1vw + 0.75rem, 1.25rem);
}

.footer-widget-title {
    padding-left: 2rem;
}

.footer-menu li a {
    text-decoration: none !important;
}

.footer-menu {
    padding-left: 2rem;
}

.max-width-900 {
    max-width: 900px !important;
}

@media screen and (max-width: 767px) {
    .hero-banner {
        border-bottom-left-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
    }

    .footer-widget-title {
        padding-left: 0rem;
    }

    .footer-menu {
        padding-left: 0rem;
    }
}